<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.erro.css">

    <title>portfólio</title>
    <link rel="icon" href="../static/img/café .png">
</head>
<body>

    <header class="header">
        <nav class="navigation">
            <a href="#" class="logo"></a>
            <ul>
                <li><a href="https://github.com/bglassesgirl">GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/luana-braga-047431198/">Linkedin</a></li>
            </ul>
        </nav>
    </header>

    <main class="main">
        <section class="section">
            <div class="left">
               <p>Olá, eu sou Josy! </p>
               <h4>Clique aqui para acessar o vídeo da Aghatar Nunes!</h4>
            <a href="https://youtu.be/OwoTAfrSr68?si=Yn_kYc4Lf50IynFL" class="btn">Veja veyr</a>
            </div>
            <div class="right">
            <img src="https://camo.githubusercontent.com/a0d58634789b846466557b4c210c1638560a4bd4457161899e026ce7345bb288/687474703a2f2f32352e6d656469612e74756d626c722e636f6d2f63393961353739646233616530666331363462663463636131343838383564332f74756d626c725f6d6a6776386b45754d67317338376e37396f315f3430302e676966" alt="Imagem da cooruja triste">
            <div class="shadow"></div>
            </div>
        </section>
    </main>

</body>
</html>