<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.erro.css">

    <title>portfólio</title>
    <link rel="icon" href="../static/img/café .png">
</head>
<body>

    <header class="header">
        <nav class="navigation">
            <a href="#" class="logo"></a>
            <ul>
                <li><a href="https://github.com/bglassesgirl">GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/luana-braga-047431198/">Linkedin</a></li>
            </ul>
        </nav>
    </header>

    <main class="main">
        <section class="section">
            <div class="left">
               <p>Olá, eu sou Luana Braga! </p>
               <h4>Explore meu portfólio para descobrir mais sobre minhas habilidades e conquistas!</h4>
            <a href="https://github.com/bglassesgirl" class="btn">Veja meu trabalho</a>
            </div>
            <div class="right">
            <img src="../static/img/café .png" alt="Imagem da cooruja triste">
            <div class="shadow"></div>
            </div>
        </section>
    </main>

</body>
</html>