<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <title>Erro 404</title>
</head>
<body>

    <header class="header">
        <nav class="navigation">
            <a href="#" class="logo">Dev.</a>
            <ul>

                <li><a href="#">Sobre</a></li>
                <li><a href="#">Portfólio</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>
    </header>

    <main class="main">
        <section class="section">
            <div class="left">
                <h1>Olá, sou Luana Braga!</h1>
                <p>Estudante do 4º ano de Ciência da Computação no IFBA, apaixonado por programação.</p>
                <p>Dentro do IFBA, participo de projetos de pesquisa envolvendo Arduino. Atuo como monitor no curso de Linguagem de Programação I, utilizando JAVA.</p>
                <p>Atualmente, trabalho como Tester na Autthentic, uma empresa de desenvolvimento de software.</p>
                <p>Estou sempre em busca de aprendizado, experiências e oportunidades.</p>
                <a href="#" class="btn">Veja meu trabalho</a>
            </div>
            <div class="right">
                <img src="#" alt="i#">
                <div class="shadow"></div>
            </div>
        </section>
    </main>

</body>
</html>